/temp
*.o
/build/EasyScreenCapture.vcxproj
/build/EasyScreenCapture.vcxproj.filters
/build/EasyScreenCapture.vcxproj.user
/build/Project.sln
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/.vs
/build/CMakeFiles
/build/EasyScreenCapture.dir
/build/jrtplib
/build/libx264
/build/libyuv
/build/Release
/build/x64
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj.user
/build/cmake_install.cmake
/build/CMakeCache.txt
